{% extends 'home.html' %}

{% block content %}

<div class="card">
    <h1>About Multi-Manager</h1>

    <p>
        Multi-management is an investment strategy where Your assets are allocated
        across multiple specialist managers within an organization. Each manager is
        selected based on performance metrics and expertise to meet specific client goals.
    </p>

    <p>
        This approach improves risk management by diversifying investments across
        different strategies instead of relying on a single manager. As a result,
        returns tend to be more stable and less volatile over time.
    </p>

    <p>
        By hiring specialist managers for different asset classes, the system benefits
        from diverse perspectives and expertise. However, careful selection is required
        to balance performance and management costs.
    </p>

    <h2>Clients</h2>

    <p>
        A Discretionary Fund Manager (DFM) manages portfolios on behalf of clients
        with full decision-making authority, allowing faster execution of investment strategies.
    </p>

    <ul>
        <li><strong>Retail Clients-:</strong> Individuals investing personal funds, often relying on expert management.
        </li>
        <li><strong>Institutional Clients-:</strong> Organizations like pension funds managing large capital with greater
            control over strategies.</li>
    </ul>

    <h2>Asset Classes</h2>

    <p>
        Asset classes are groups of investments that have similar attributes ad behave similarly under the same laws and
        regulations in the market. There is sometimes little or negative correlation between asset classes. These investment
        classes are tangible and intangible instruments that investors buy up to make profit in the long or short-term basis.
        With managers investing in these different classes they ensure diversification reducing risk and most importantly
        increasing profit
    </p>

    <ul>
        <li><strong>Equities:</strong> Ownership in companies, high growth potential.</li>
        <li><strong>Fixed Income:</strong> Loans generating stable interest income.</li>
        <li><strong>Real Estate:</strong> Property investments with long-term appreciation.</li>
        <li><strong>Cash:</strong> Liquid and safe but low returns.</li>
        <li><strong>Commodities:</strong> Assets like gold and oil, useful for inflation protection.</li>
        <li><strong>Alternatives:</strong> Crypto, hedge funds, private equity (higher risk/reward).</li>
    </ul>

</div>

{% endblock %}