{% extends 'home.html' %}

{% block content %}
<h2>Retail Onboarding</h2>

<form method="POST">
    {% csrf_token %}
    
    <h3>Personal Information</h3>

    <label>Your Name</label>
    {{ form.name }}
    <label>Your Age</label>
    {{ form.age }}
    
    
    <h3>Investment Profile</h3>
    <label>Client Group</label>
    {{ form.client_group }}
    <label>Client Risk Profile</label>
    {{ form.risk_profile }}
    <label>Client Risk Rating</label>
    {{ form.risk_rating }}
    <label>How good are you at tolerating risk (1-5)?</label>
    {{ form.risk_tolerance }}
    <label>How many years do you wish to invest for?</label>
    {{ form.time_horizon }}
    <label>Please explain briefly wht you hope to get out of this experience</label>
    {{ form.investment_goal }}
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Submit</button>
</form>

{% endblock %}