{% extends 'home.html' %}

{% block content %}
<h2>Retail Onboarding</h2>

<form method="POST">
    {% csrf_token %}
    
    <h3>Personal Information</h3>

    <label>Client Name</label>
    {{ form.name }}
    <label>Client Age</label>
    {{ form.age }}
    
    
    <h3>Investment Profile</h3>
    <label>Client Group</label>
    {{ form.client_group }}
    <label>Client Risk Profile</label>
    {{ form.risk_profile }}
    <label>Client Risk Rating</label>
    {{ form.risk_rating }}
    <label>Ris Toleration?</label>
    {{ form.risk_tolerance }}
    <label>Time Horizon</label>
    {{ form.time_horizon }}
    <label>Client Goals</label>
    {{ form.investment_goal }}
    
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Submit</button>
</form>

{% endblock %}