{% extends 'home.html' %}

{% block content %}
<h2>Institutional Onboarding Form</h2>

<form method="POST">
    {% csrf_token %}
    
    <h3>Organization</h3>

    <label>Organization Name</label>
    {{ form.organization_name }}
    <label>Type of Investor Organization</label>
    {{ form.organization_type }}
    <label>Amount of Assets being Held by Organization</label>
    {{ form.assets_held }}
    
    <h3>Investment Strategy</h3>

    <label>Return Objective</label>
    {{ form.return_objective }}
    <label>Return Target (ZAR)</label>
    {{ form.target_return }}
    <label>Investment Time Horizon</label>
    {{ form.time_horizon }}
    
    <h3>Risk & Constraints</h3>

    <label>Level Of Risk Tolerance</label>
    {{ form.risk_tolerance }}
    <label>Benchmark Performance</label>
    {{ form.performance }}
    <label>Manager number estimation</label>
    {{ form.manager_numbers }}
    <label>liquidity</label>
    {{ form.liquidity }}

    <button type="submit">Submit</button>
</form>

{% endblock %}